<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kama</title>
</head>

<body>
    <div style="width: 50%;margin: 0 auto;border: 1px solid grey;border-radius: 10px;">
        <h2 style="margin: 0 auto;background-color:blanchedalmond;width: fit-content;">
            Blood Disease Classification Using Image Processing and CNN
        </h2>

        <form style="margin: 0 auto;background-color: aqua;width: 50%;" method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </div>
    <!-- <ul id="navigation">
        {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
        {% endfor %}
    </ul>

    <h1>My Webpage</h1>
    {{ a_variable }}

    {# a comment #} -->
</body>

</html>